<?xml version="1.0" encoding="utf-8"?>
<Game
  configVersion="1">
  <Identity
    Name="DefaultGame"
    Publisher="CN=ELECTRIS"
    Version="0.0.0.1" />
  <ShellVisuals
    StoreLogo="StoreLogo.png"
    Square150x150Logo="Square150x150Logo.png"
    Square44x44Logo="Square44x44Logo.png"
    Square480x480Logo="GameLogo.png"
    SplashScreenImage="SplashScreenImage.png" />
  <ExecutableList />
  <MSAAppId>PleaseChangeMe</MSAAppId>
  <TitleId>FFFFFFFF</TitleId>
  <DesktopRegistration>
    <ProcessorArchitecture>x64</ProcessorArchitecture>
  </DesktopRegistration>
  <AdvancedUserModel>true</AdvancedUserModel>
</Game>